.container{
    width: 15rem;
    height: 25rem;
}
.a-1{
    background-color: rgb(188,214,250);
    width: 15rem;
    height: 5rem;
}
.a-2{
    background-color: rgb(85,70,249);
    width: 15rem;
    height: 5rem;
}
.a-3{
    width: 15rem;
    height: 5rem;
    background-color: rgb(232,1,32);
}
.a-4{
    background-color: rgb(255,111,45);
    width: 15rem;
    height: 5rem;
}

.b-1{
    background-color: rgb(176,215,252);
    width: 15rem;
    height: 5rem;
}
.b-2{
    background-color: rgb(48,135,227);
    width: 15rem;
    height: 5rem;
}
.b-3{
    background-color: rgb(134,44,213);
    width: 15rem;
    height: 5rem;
}
.b-4{
    background-color: rgb(238,59,31);
    width: 15rem;
    height: 5rem;
}

.c-1{
    width: 15rem;
    height: 5rem;
    background-color: rgb(1,73,181);
}
.c-2{
    width: 15rem;
    height: 5rem;
    background-color: rgb(188,205,236);
}
.c-3{
    width: 15rem;
    height: 5rem;
    background-color: rgb(181,70,254);
}
.c-4{
    width: 15rem;
    height: 5rem;
    background-color: rgb(248,87,19);
}

.d-1{
    width: 15rem;
    height: 5rem;
    background-color: rgb(222,221,237);
}
.d-2{
    width: 15rem;
    height: 5rem;
    background-color: rgb(79,79,215);
}
.d-3{
    width: 15rem;
    height: 5rem;
    background-color: rgb(177,137,220);
}
.d-4{
    width: 15rem;
    height: 5rem;
    background-color: rgb(255,96,84);
}

.e-1{
    width: 15rem;
    height: 5rem;
    background-color: rgb(13,20,92);
}
.e-2{
    width: 15rem;
    height: 5rem;
    background-color: rgb(19,122,212);
}
.e-3{
    width: 15rem;
    height: 5rem;
    background-color: rgb(253,83,83);
}
.e-4{
    width: 15rem;
    height: 5rem;
    background-color: rgb(157,103,218);
}
