.product {
  height: 25rem;
  width: 20rem;
  background-color: rgb(56, 56, 57);
  border-radius: 0rem;
  overflow: hidden;
  border: 2px solid rgb(255, 255, 255);
}

.shop {
  position: relative;
  overflow: hidden;
  margin: 15px 0px;
}

.shop-img {
  height: 18rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  border: 2px solid rgb(255, 255, 255);
}
span {
  padding: 0.5rem;
}

.image {
  height: 12rem;
  width: 12rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.img {
  height: 12rem;
  width: 12rem;
}
.product-label {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.product-label-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 9rem;
}
.sale {
  border: 2px solid rgb(255, 255, 255);
  border: 2px solid #ffffff;
  border-radius: 0.5rem;
  padding: 0.1rem;
}
.new {
  border: 2px solid rgb(255, 255, 255);
  border: 2px solid #ffffff;
  border-radius: 0.5rem;
  padding: 0.1rem;
}
.product-body {
  height: 7rem;
  border: 2px solid rgb(255, 255, 255);
}
.product-body-top {
  margin-top: 1rem;
}
.product-categories {
  display: flex;
  justify-content: space-evenly;
}
.product-category {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  width: fit-content;
}

.product-body-buttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0px;
  padding: 0.3rem;
  color: #a9ffbc;
  font-weight: bolder;
  font-size: small;
}
h3 {
  margin: 0px;
}
h4 {
  margin: 0px;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.cart {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 2px solid rgb(255, 255, 255);
}
.button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 2px solid rgb(255, 255, 255);
}
.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.cart :hover {
  color: #d10024;
}
